@using Blog
@{
    Layout = "_LayoutHome.cshtml";
    Author author = Model.Author;
    Article article = Model.Article;
}

<style type="text/css">
    p {
        text-indent: 2em;
    }
</style> 
<div class="row">
    <div class="panel">
        <div class="panel-body">
            <h2><strong>@article.Title</strong></h2>
            <div>
                <span class="pull-right">最后更新 - @article.LastUpdateTime</span>
                <h4><span class="label label-default">@article.Category</span></h4>
            </div>
            <div class="well">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="@article.Id" data-title="@article.Title" data-url="http://123.56.119.97/@article.Link"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = { short_name: "royblog" };
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript'; ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
</div>