@using System
@using Blog
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @DateTime.Now
    </div>
    博主是：@Model.Author.NickName
    
    @foreach (Article article in @Model.Articles)
    {
        <h4>@article.Title</h4>
        <div>@article.Content</div>
        <div>所属分类：@article.Tags</div>   
               
    }
    @Model.Times
</body>
</html>
