@using System
@using Blog
@{
    Layout = "_LayoutHome.cshtml";
}

@section blogHeader{
    <div class="jumbotron">
        <h1>@Model.Title</h1>
        <p class="lead">@Model.Description</p>
    </div>
}
<div class="row">
    @foreach (Article article in @Model.Articles)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="text-muted" href="/detail/@article.Link"><strong>@article.Title</strong></a>
                    <div>
                        <small class="pull-right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>@article.CreateTime</small>
                        <h5>
                            <span class="label label-default">
                                @article.Category
                            </span>
                        </h5>
                    </div>
                    <div class="text-justify">@Html.Raw(article.Description)</div>

                </div>
            </div>
        </div>
    }
</div>
